.favoritesIconContainer {
  position: relative;
}

.favoritesIcon{
  color: #ABB2B3;
}


.favoritesIconNumber{
  font-size: 1.1em;
  background-color: green;
  color: black;
  padding: 0.002em;
  border-radius: 1em;
  position: absolute;
top: 25%;
left: 75%;

}

